:root{
  --subcolor:#434655;
  --thirdheader:#a91523;
  --button-color:#fce900;
  --icons-color:#b18c22;
  --aboutcolor:#0c1a76;
  --primaryColor:#fff;
  --sect: #dbdbdb;
}

*{
  padding: 0;
  margin: 0;
}


body{
  font-family: 'Poppins', sans-serif;
  line-height: 1.6em;
  font-size: 16px;
}

.first-part{
    height: 20px;
}


.main-nav{
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.red-part{
  background-color: var(--thirdheader);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
}

.red-part a {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primaryColor);
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.hero-left h1 {
  font-size: 2.5rem;
  margin-bottom: 25px;
  color: #333;
  text-align: center;
}

.hero-left p {
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 65px;
  color: #444444;
  font-size: 1.5rem;
}

.hero-left a {
  padding: 10px 15px;
  background: var(--thirdheader);
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s all ease;
  border-radius: 40px;
}

.hero-left a:hover {
  background-color: #c54956;
}


@media screen and (max-width: 1000px) {
  .hero-left h1 {
      font-size: 4rem;
      margin-bottom: 25px;
      color: #333;
    }

    .icon-columns .col{
      display: flex;
      flex-direction: row;
    }

    .icon-columns .col img{
      height: 150px;
      width: 150px;
    }

    .col .col-text-main h3{
      font-size: 40px;
      font-weight: bold;
      text-align: justify;
    }

    .col .col-text-main{
        font-size: 35px;
        font-weight: 300;
        text-align: justify;
    }
    .bio-sect h2{
      font-size: 60px;
      font-weight: bold;
    }
    .bio-sect p{
      font-size: 45px;
      font-weight: 300;
      line-height: 50px;
      text-align: justify;
    }

    .hero-left p {
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 65px;
      color: #444444;
      font-size: 2rem;
    }
  
    .hero-left a {
      padding: 30px 40px;
      background: var(--thirdheader);
      color: #fff;
      font-size: 3rem;
      font-weight: 600;
      border-radius: 4px;
      cursor: pointer;
      border: none;
      outline: none;
      transition: 0.3s all ease;
      border-radius: 40px;
    }

  nav li {
    list-style: none;
    margin: 0 8px
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero .right {
    order: -1;
    padding-bottom: 5rem;
  }
}

.play-logo{
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--sect);
}

.play-store, .apple-store {
  margin-right: 50px;
}

.icon-box{
  padding: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon-head{
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700px;
}

.icon-columns, .pay-image{
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.icon-columns img{
  height: 50px;
  width: 50px;
  padding: 20px;
  background-color: var(--button-color);
  border-radius: 100px;
}

.icon-columns, h3, .col-text{
  text-align: center;
  padding: 10px;
}

.icon-columns p {
  padding: 0 20px;
  text-align: center;
}

.biometric{
  display: flex;
  justify-content: center;
  background-color: var(--sect);
  padding: 0 100px;
}

.biometric img{
  height: 500px;
  width: 550px;
}

.biometric .bio-sect{
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  line-height: 1.6em;
}

.biometric .bio-sect h2{
  text-align: left;
  font-size: 35px;
  padding-bottom: 20px;
  line-height: 1em;
}

.thesecond{
  background-color: #fff;
}

.pay-content{
  text-align: center;
}

.pay-content h2{
  padding-bottom: 20px ;
}

.pay-way{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 300px;
}

.pay-image{
  margin-top: -30px;
}


.pay-image img{
  width: 100px;
}


.part2{
  background-color: var(--thirdheader);
  text-align: center;
  padding: 50px;
  margin: 0 100px;
}

.part2 h2{
  color: #fff;
  text-transform: capitalize;
  font-size: 30px;
  padding-bottom: 50px;
}

.part2 a {
  background-color: var(--button-color);
  border: none;
  color: #000;
  margin-bottom: 30px;
}

.part2 p{
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

p .online-banking{
  background-color: var(--thirdheader);
  text-transform: uppercase;
  color: var(--button-color);
  font-weight: bold;
  font-size: 13px;
}

.part2-logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.part2-logo img{
  width: 100px;
  padding-right: -25px;
}


@media (max-width: 768px){

  
    form input {
      padding: 15px 10px;
      padding-right: 20px;
      width: 30vw;
      border-radius: 10px;
      outline: none;
      border: none;
      font-size: 16px;
      font: 16px;
    }

    .hero-form{
      height: 800px;
      width: 100vw;
    }
  
    .hero-form input[type="submit"] {
      background-color: var(--button-color);
      color: #000;
      width: 100%;
      font-size: large;
      font-weight: bold;
    }
  
    .hero-form input[type="submit"]:hover {
      background-color: var(--icons-color);
      color: #fff;
      width: 100%;
      font-size: large;
      font-weight: bold;
      transition: .5s ease-out;
    }
}















