{% extends 'base.html' %}

{% load static %}
{% if messages %}
  {% for message in messages %}
    {{ message }}
  {% endfor %}
{% endif %}

{% block content %}
  <main class="hero-body">
      <header class="container">
        <div class="hero">
          <section class="hero-left">
            <h1>Financial strategy that matches your aspirations.</h1>
            <p>
             Big goals deserve nothing less. Watch your savings grow faster and stronger, propelling you
              towards the future you envision. Start saving big today!
            </p>
      
            <a href="{% url 'login_view' %}">Sign In</a>
          </section>
        </div>
      </header>
  </main>
  <section class="play-logo">
    <div class="play-store">
      <img src="{% static '/images/icons/apple-app-store.svg' %}" alt="" srcset="">
    </div>
    <div class="apple-store">
      <img src="{% static '/images/icons/google-play-badge.svg' %}" alt="" srcset="">
    </div>
  </section>
  <section class="icon-box">
    <h2 class="icon-head">
      <b style="text-align: justify;">Online and Mobile Banking Access Anywhere, Anytime.</b>
    </h2>
    <div class="icon-columns">
      <div class="col col1">
        <img src="{% static '/images/icons/password-lock.svg' %}" alt="password-lock">
        <div class="col-text-main">
          <h3 class="col-text">Secure Login</h3>
          <p style="text-align: justify;">Advanved multi-factor security including facial facial recognision login</p>
        </div>
      </div>
      <div class="col col2">
        <img src="{% static '/images/icons/streamline-icon-shield.svg' %}" alt="icon-shield">
        <div class="col-text-main">
          <h3 class="col-text">24/7 Access</h3>
          <p style="text-align: justify;">Secure access to your account on your mobile phone and computer</p>
        </div>
      </div>
      <div class="col col3">
        <img src="{% static '/images/icons/streamline-icon-alarm.svg' %}" alt="icon-alarm">
        <div class="col-text-main">
          <h3 class="col-text">Custom alert</h3>
          <p style="text-align: justify;">Set notifications for transactions, withdrawals, balance and more</p>
        </div>
      </div>
      <div class="col col4">
        <img src="{% static '/images/icons/smartphone.png' %}" alt="smartphone">
        <div class="col-text-main">
          <h3 class="col-text">Banking-on-the-goal</h3>
          <p style="text-align: justify;">Transfer funds, check your balance, pay bills, view statements and more</p>
        </div>
      </div>
    </div>
  </section>
  <section class="biometric 0ne" style="margin-top: 10px; margin-bottom: 30px;">
    <div class="bio-sect">
      <img src="{% static '/images/icons/faceauth.png' %}" alt="" srcset="">
    </div>
    <div class="bio-sect img">
      <h2 style="text-align: center;">Biometric Recognision Login</h2>
      <p style="text-align: center;">Advanced security features to keep your account safe including encryption, secondary authentication, facial recognition
      login and fingerprint login.</p>
    </div>
  </section>
  <section class="biometric 2 thesecond" style="flex-direction: column-reverse; margin-top: 30px; margin-bottom: 30px;">
    <div class="bio-sect">
      <h2 style="text-align: center;">Mobile Check Deposit</h2>
      <p style="text-align: center;">Save time (and gas) with mobile check deposit. Take a picture to deposit a check into your account right from your
      mobile device.</p>
    </div>
    <div class="bio-sect">
      <img src="{% static '/images/icons/deposite.png' %}" alt="" srcset="">
    </div>
  </section>
  <section class="biometric 3 thesecond" style="margin: 10px 0">
    <div class="bio-sect img">
      <img src="{% static '/images/icons/restrict.png' %}" alt="" srcset="">
    </div>
    <div class="bio-sect">
      <h2 style="text-align: center;">Secure Debit Card Controls</h2>
      <p style="text-align: center;">Lost your card? Quickly freeze all use right from your phone. Plus, easily restrict transactions, set spending limits
      and update your PIN — all from your phone.</p>
    </div>
  </section>
  <section class="biometric 4" style="flex-direction: column-reverse; margin-top: 10px; margin-bottom: 10px;">
    <div class="bio-sect">
      <h2 style="text-align: center;">Money Insight & Planning</h2>
      <p style="text-align: center;">With Ent’s Money Insight, view your accounts from other financial institutions, track spending, create budgets and set
      goals.</p>
    </div>
    <div class="bio-sect img">
      <img src="{% static '/images/icons/illustrationmoney-insight.png' %}" alt="" srcset="">
    </div>
  </section>
  <section class="pay-way">
    <div class="part1">
      <div class="pay-content">
        <h2 style="text-align: center;">More Ways To Pay</h2>
        <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Corporis deleniti veniam est ipsa enim odio cumque aspernatur ex, ullam libero!
        </p>
      </div>
      <div class="pay-image">
        <img src="{%static '/images/icons/logo-applepay.png' %}" alt="">
        <img src="{%static '/images/icons/logo-gpay.png' %}" alt="">
        <img src="{%static '/images/icons/logo-paypal.png' %}" alt="">
        <img src="{%static '/images/icons/logo-venmo.png' %}" alt="">
      </div>
    </div>
  </section>
  <section>
    <div class="part2">
        <h2>ready to get started?</h2>
        <a href="#" class="search-btn"> Become a Member</a>
        <p>Already a member?<a href="" class="online-banking">register for online banking</a></p>
      <div class="part2-logo">
        <div class="play-store">
          <img src="{% static '/images/icons/apple-app-store.svg' %}" alt="" srcset="">
        </div>
        <div class="apple-store">
          <img src="{% static '/images/icons/google-play-badge.svg' %}" alt="" srcset="">
        </div>
      </div>
    </div>
  </section>
{% endblock %}
